*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#header h1{
    padding :2%;
    font-weight: bold;
}

#header{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 3%;
    padding-top:3%;
    position: fixed;
    width: 100%;
    padding-top : 0;

}
#header ul{
    padding-top: 2%;
    

}
#header li{
    display: inline;
    margin :1%;
}

#header li a{
    text-decoration: none;
    color : white;
}

label{
    font-weight: bold;
    display: block;
    padding-top: 5%;
    font-size: 100%;
    padding-bottom: 5%;
    text-align: center;
   

}

input{
  box-sizing: border-box;
  border: 2px solid rgb(114, 136, 83);
  border-radius: 10px;
  width: 90%;
  padding: 2%;
}         


input, span{
    font-size: 100%;
}
#income{
    background-image: url('salary.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}
#days{
    background-image: url('circular-clock.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
    
}
#residence{
    background-image: url('invest.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#transport{
    background-image: url('bus.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;

}

#food{
    background-image: url('groceries.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#foodC{
    background-image: url('fitness.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#tv{
    background-image: url('screen.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#laundry{
    background-image: url('laundry.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#lyf{
    background-image: url('gym.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}

#other{
    background-image: url('pumpkin.png');
    background-size: 5%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 50px;
}


.form{
    max-width: 50%;
    margin:  auto;
}
h5{
    text-align: center;
    padding-top : 2%;
}
#first{
    padding-top:15%;
    width:100%
}

#submit{
    margin-top: 5%;
    background-color: #4CAF50;
    font-size: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    width: 90%;
  }

  #reset{
    margin-top: 1%;
    background-color: rgb(228, 87, 0);
    font-size: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    width: 90%;
  }
#priority{
    background-color:rgb(160, 11, 11);
    padding-bottom: 5%;
}

#priority input:focus {
    background-color:rgb(240, 12, 12);
    color: white;
  }

  #basic{
    background-color:rgb(160, 100, 11);
    padding-bottom: 5%;
}

#basic input:focus {
    background-color:rgb(46, 29, 3);
    color: white;
  }

  #tersier{
    background-color: rgb(114, 136, 83);;
    padding-bottom: 5%;
}

#tersier input:focus {
    background-color: rgb(33, 57, 1);
    color: white;
  }

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    padding: 2%;
    position: relative;
  
}

footer #closing{
    padding: 2%;
    font-size: 12px;
}

@media (min-width:320px) and (max-width:1080px){
    
  span{
        font-size: 15px;
    }

    #first{
        padding-top:20%;
        width:100%
    }
    
    input{
        box-sizing: border-box;
        border: 2px solid rgb(114, 136, 83);
        border-radius: 10px;
        width: 84%;
        padding: 2%;
      }  

      .form{
        max-width: 90%;
        margin:  auto;
        padding-left: 20%;
        
    }
    
    span{
     font-weight : bold;   
    }

    #submit, #reset{
        width: 85%;
      }
    #reset{
        margin-top : 2%;
    }
    footer{
       font-size: 12px;
       padding-top : 10%;
       padding-bottom: 5%;
    }


}
